---
import { Image } from 'astro:assets';

const menuItems = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/' },
  { name: 'Services', href: '/' },
  { name: 'Contact', href: '/' },
];

const clubs = [
    { name: 'Audax Italiano', href: '/', src: '/clubs-emblems/Audax-Italiano.svg'},
    { name: 'Cobreloa', href: '/', src: '/clubs-emblems/Cobreloa.svg' },
    { name: 'Cobresal', href: '/', src: '/clubs-emblems/Cobresal.svg' },
    { name: 'Colo Colo', href: '/', src: '/clubs-emblems/Colo-Colo.svg' },
    { name: 'Copiapó', href: '/', src: '/clubs-emblems/Copiapo.svg' },
    { name: 'Coquimbo Unido', href: '/', src: '/clubs-emblems/Coquimbo-Unido.svg' },
    { name: 'Deportes Iquique', href: '/', src: '/clubs-emblems/Iquique.svg' },
    { name: 'Everton CD', href: '/', src: '/clubs-emblems/Everton.svg' },
    { name: 'Huachipato', href: '/', src: '/clubs-emblems/Huachipato.svg' },
    { name: 'Ñublense', href: '/', src: '/clubs-emblems/Nublense.svg' },
    { name: "O'Higgins", href: '/', src: '/clubs-emblems/OHiggins.svg' },
    { name: 'Palestino', href: '/', src: '/clubs-emblems/Palestino.svg' },
    { name: 'Universidad Católica', href: '/', src: '/clubs-emblems/U-Catolica.svg' },
    { name: 'Universidad de Chile', href: '/', src: '/clubs-emblems/U-De-Chile.svg' },
    { name: 'Unión Española', href: '/', src: '/clubs-emblems/U-La-Calera.svg' },
    { name: 'Unión La Calera', href: '/', src: '/clubs-emblems/Union-Espanola.svg' },
];
---

<aside class="w-64 pt-16 h-screen bg-gray-800 flex flex-col">

  <!-- <nav class="flex-1 px-2 space-y-1">
    {menuItems.map(item => (
      <a
        href={item.href}
        class="block px-4 py-2 rounded-md hover:bg-gray-700"
      >
        {item.name}
      </a>
    ))}
  </nav> -->
  <nav class="m-5 p-2 h-max bg-slate-200 rounded">
    <h3 class="text-3xl text-center pb-3">Clubes</h3>
    {clubs.map(club => (
        <a
          href={club.href}
          class="block px-4 py-2 rounded-md hover:bg-gray-700 hover:text-white"
        >
            <div class="flex items-center">
                <div class="pr-1">
                    <Image src={club.src}
                    alt="Un pájaro sentado sobre un nido de huevos."
                    width="19"
                    height="19"
                    loading="eager"
                    />
                </div>
                {club.name}
           </div>
        </a>
      ))}
  </nav>
</aside>
